/* Adjust navbar height for mobile screens */
@media (max-width: 768px) {
    .hydrapp-navbar {
        top: 0px !important;
        position: fixed !important;
    }

    .hydrapp-content {
        margin-top: 50px !important;
    }
}

/* Styles for content frame, gif container, and button container */
.content-frame {
    border: 2px solid #0A4DA9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    background-color: #f1f1f1;
}

.gif-container, .button-container {
    padding: 10px;
    flex: 1; /* Ensures that each section takes equal space */
}
